<p>{{ companyname }} {{ customername }}様</p>

<p>※このメールはシステムにより、自動で返信しています。<br>ご返信をいただいても対応できかねますことをご了承ください</p>
<br>
<p>改めて、担当者よりご連絡させていただきますので、<br>今しばらくお待ちください。</p>
<br>
<p>以下の内容で、お問い合わせをお受けいたしました。</p>
<br>
<br>

<p>＜内容＞</p>

<p>相談分野　　　：{{ genre }}</p>
<p>相談内容　　　：{{ consultation }}</p>
<p>お名前　　　　：{{ customername }} 様</p>
<p>ご連絡先</p>
<p>電話番号　　　：{{ phone }}</p>
<p>メールアドレス：{{ mail }}</p>

<br>
<br>
<br>なお、お急ぎの場合はお手数ではございますが、<br>弊社コールセンターへお問い合わせいただきますようお願い申し上げます。</br>
<p><small>お問い合わせ: info@example.com</small></p>