<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title>完了｜ID／パスワードを忘れた方｜専門家相談サービス</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Roboto:wght@500&display=swap&subset=japanese">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
<link rel="stylesheet" href="styles/ress.css">
<link rel="stylesheet" href="styles/styles.css">
<link rel="icon" href="images/favicon.ico">
</head>

<body class="login">
  
  <div class="workspace">

    <!-- ヘッダー -->
    <header id="header">
      <div class="cmn_inr">
        <div class="header_logoset">
          <figure class="logo-home">
            <a class="img_logo hover_fade" href="#"><img class="" src="images/logo_login.svg" alt="専門家相談サービス"></a>
            <a class="img_home hover_fade" href="#"><img src="images/arrow_l_bl.svg"></a>
          </figure>
          <!-- PC版ヘッダーのぱんくず -->
          <div class="header_title">
            <h1 class="title">ID／パスワードの再設定</h1>
          </div>
        </div>
      </div>
    </header>
    <!-- メインコンテンツ開始 -->
    <main id="login_main">

      <section class="main_contents">
        <div class="card">
          <!-- メインコンテンツの内容が入ります。.main_contents_blockが1ブロックとなります。 -->
          <article class="auth_contents_block">
            <!-- ブロックのタイトル -->
            <div class="article_title">
              <div class="cmn_inr">
                <h1 class="title">ID／パスワードの再設定</h1>
              </div>
            </div>
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <p>メールを送信しました。ご利用のメーラーより再設定したパスワードをご確認ください。</p>
                  </div>

                  <div class="remember">
                    <div class="main_contents_block">
                      <div class="box_btn">
                        <a class="btn_blue btn_back hover_fade" href="#">サインイン画面に戻る</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </article>
          <div class="auth_contents_section">
            <div class="auth_contents_inr">
              <div class="box_btn">
                <a class="btn_gray btn_back hover_fade" href="#">戻る</a>
              </div>
            </div>
          </div>
        </div>
        

      </section>
      
    </main>

  </div>


</body>

</html>