<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title>ジャンルから選択［経営・企業法務］／知的財産権に関する事例｜解決事例を検索｜専門家相談サービス</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Roboto:wght@500&display=swap&subset=japanese">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
<link rel="stylesheet" href="styles/ress.css">
<link rel="stylesheet" href="styles/styles.css">
<link rel="icon" href="images/favicon.ico">
</head>

<body>
  <div class="workspace">
    <!-- ヘッダー -->
    <header id="header">
      <div class="cmn_inr">
        <div class="header_logoset">
          <figure class="logo-home">
            <a class="img_logo hover_fade" href="#"><img src="images/logo.svg"></a>
            <a class="img_home hover_fade" href="#"><img src="images/arrow_l_bl.svg"></a><!-- SP版ナビゲーションアイコンです。homeとそれ以外で画像が変わります -->
          </figure>
          <!-- PC版ヘッダーのぱんくず -->
          <div class="header_title">
            <h1 class="title">解決事例を検索／ジャンルから選択［経営・企業法務］／知的財産権に関する事例</h1>
          </div>
        </div>
        <div class="header_user">
          <p><a class="hover_fade" href="#"></a>{{ company_name }}さま</p>
        </div>
      </div>
    </header>

    <div class="contents">

      <!-- サイドバー -->
      <nav id="side">
        <div class="cmn_inr">
          <a class="btn_blue hover_fade" href="#"><img src="images/icon_list.svg">今月のToDoリスト</a>
          <a class="btn_white hover_fade" href="#"><img src="images/icon_resolve.svg">解決事例を検索</a>
        </div>
      </nav>

      <!-- メインコンテンツ開始 -->
      <main id="main">

        <section class="main_header">
          <div class="cmn_inr">
            <div class="main_title">
              <p class="title_bread">経営・企業法務</p><!-- コンテンツのサブタイトル -->
              <h1 class="title">知的財産権に関する事例</h1><!-- コンテンツのメインタイトル -->
            </div>
            <!-- タイトル横のボタン類 -->
            <div class="box_btn">
              <a class="btn_gray btn_back hover_fade" href="history.back()">戻る</a>
            </div>
          </div>
        </section>

        <section class="main_contents">

          <!-- メインコンテンツの内容が入ります。.main_contents_blockが1ブロックとなります。 -->
          <div class="main_contents_block">
            <!-- 結果があったら件数を表示する -->
            <div class="result_num">
              <div class="cmn_inr">
                <p><span>12</span>件中 <span>5</span>件 表示</p>
              </div>
            </div>
          </div>

          <!-- 検索結果表示用ブロック -->
          <article class="result_contents">
            <a class="hover_fade" href="#"><!-- 詳細ページへのURL -->
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <div class="result_title">
                      <!-- 検索結果タイトル -->
                      <h1>S食品の知的財産権が侵害された事例</h1>
                    </div>
                    <div class="result_text">
                      <!-- 検索結果テキスト -->
                      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                  </div>
                  <!-- 矢印アイコン -->
                  <div class="result_btn">
                    <div class="result_btn_img"><img src="images/arrow_r_bl.svg"></div>
                  </div>
                </div>
              </div>
            </a>
          </article>
          
          <!-- 検索結果表示用ブロック -->
          <article class="result_contents">
            <a class="hover_fade" href="#"><!-- 詳細ページへのURL -->
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <div class="result_title">
                      <!-- 検索結果タイトル -->
                      <h1>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h1>
                    </div>
                    <div class="result_text">
                      <!-- 検索結果テキスト -->
                      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                  </div>
                  <!-- 矢印アイコン -->
                  <div class="result_btn">
                    <div class="result_btn_img"><img src="images/arrow_r_bl.svg"></div>
                  </div>
                </div>
              </div>
            </a>
          </article>

          <!-- 検索結果表示用ブロック -->
          <article class="result_contents">
            <a class="hover_fade" href="#"><!-- 詳細ページへのURL -->
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <div class="result_title">
                      <!-- 検索結果タイトル -->
                      <h1>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h1>
                    </div>
                    <div class="result_text">
                      <!-- 検索結果テキスト -->
                      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                  </div>
                  <!-- 矢印アイコン -->
                  <div class="result_btn">
                    <div class="result_btn_img"><img src="images/arrow_r_bl.svg"></div>
                  </div>
                </div>
              </div>
            </a>
          </article>
          
          <!-- 検索結果表示用ブロック -->
          <article class="result_contents">
            <a class="hover_fade" href="#"><!-- 詳細ページへのURL -->
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <div class="result_title">
                      <!-- 検索結果タイトル -->
                      <h1>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h1>
                    </div>
                    <div class="result_text">
                      <!-- 検索結果テキスト -->
                      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                  </div>
                  <!-- 矢印アイコン -->
                  <div class="result_btn">
                    <div class="result_btn_img"><img src="images/arrow_r_bl.svg"></div>
                  </div>
                </div>
              </div>
            </a>
          </article>
          
          <!-- 検索結果表示用ブロック -->
          <article class="result_contents">
            <a class="hover_fade" href="#"><!-- 詳細ページへのURL -->
              <div class="contents_text">
                <div class="contents_text_inr">
                  <div class="contents_text_content">
                    <div class="result_title">
                      <!-- 検索結果タイトル -->
                      <h1>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h1>
                    </div>
                    <div class="result_text">
                      <!-- 検索結果テキスト -->
                      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                  </div>
                  <!-- 矢印アイコン -->
                  <div class="result_btn">
                    <div class="result_btn_img"><img src="images/arrow_r_bl.svg"></div>
                  </div>
                </div>
              </div>
            </a>
          </article>
            
        </section>

        <section class="pagenation">
          <div class="main_contents_block">
            <div class="cmn_inr">
              <!-- 最初に戻るボタン -->
              <div class="pagenation_first"><span><img src="images/arrow_l_wh.svg"></span></div><!-- リンクなしの場合は span に変更してください -->
              <div class="pagenation_num">
                <ul>
                  <!-- カレントページ -->
                  <li><span class="current">1</span></li>
                  <!-- リンク付きページ -->
                  <li><a class="hover_fade" href="#">2</a></li>
                  <!-- 省略文字 -->
                  <li><span class="pagenation_ellipsis">...</span></li>
                  <li><a class="hover_fade" href="#">3</a></li>
                </ul>
              </div>
              <!-- 最後に進むボタン -->
              <div class="pagenation_last"><a class="hover_fade" href="#"><img src="images/arrow_r_wh.svg"></a></div><!-- リンクなしの場合は span に変更してください -->
            </div>
          </div>
        </section>
        
      </main>

    </div>

    <!-- サイドバー下部 -->
    <aside id="footer">
      <div class="footer_side">
        <div class="cmn_inr">
          <a class="btn_red hover_fade" href="#"><img src="images/icon_comment.svg">今すぐ専門家に相談を依頼</a>
        </div>
      </div>
    </aside>

  </div>
</body>

</html>